In [1]:
import json_helper

In [6]:
df_daily_summaries = json_helper.read_all_json_files('./data/daily_summaries')

In [7]:
df_daily_summaries

,date,datatype,station,attributes,value,source
0,2018-01-01T00:00:00,PRCP,GHCND:US1DENC0001,",,N,",0,daily_summaries_FIPS10003_jan_2018_0.json
1,2018-01-01T00:00:00,SNWD,GHCND:US1DENC0001,"T,,N,",0,daily_summaries_FIPS10003_jan_2018_0.json
2,2018-01-01T00:00:00,PRCP,GHCND:US1DENC0002,",,N,",0,daily_summaries_FIPS10003_jan_2018_0.json
3,2018-01-01T00:00:00,SNOW,GHCND:US1DENC0002,",,N,",0,daily_summaries_FIPS10003_jan_2018_0.json
4,2018-01-01T00:00:00,SNWD,GHCND:US1DENC0002,"T,,N,",0,daily_summaries_FIPS10003_jan_2018_0.json
...,...,...,...,...,...,...
164,2018-01-31T00:00:00,TMIN,GHCND:USW00013781,",,W,2400",-93,daily_summaries_FIPS1003_jan_2018_1.json
165,2018-01-31T00:00:00,WDF2,GHCND:USW00013781,",,W,",320,daily_summaries_FIPS1003_jan_2018_1.json
166,2018-01-31T00:00:00,WDF5,GHCND:USW00013781,",,W,",310,daily_summaries_FIPS1003_jan_2018_1.json
167,2018-01-31T00:00:00,WSF2,GHCND:USW00013781,",,W,",89,daily_summaries_FIPS1003_jan_2018_1.json
168,2018-01-31T00:00:00,WSF5,GHCND:USW00013781,",,W,",116,daily_summaries_FIPS1003_jan_2018_1.json

In [41]:
df_daily_summaries['station'].value_counts()

GHCND:USW00013781    333
GHCND:US1DENC0002    147
GHCND:US1DENC0013    126
GHCND:US1DENC0010     78
GHCND:US1DENC0034     54
GHCND:US1DENC0028     51
GHCND:US1DENC0001     49
GHCND:US1DENC0041     47
GHCND:US1DENC0033     43
GHCND:US1DENC0031     42
GHCND:US1DENC0040     39
GHCND:US1DENC0032     37
GHCND:US1DENC0004     36
GHCND:US1DENC0060     35
GHCND:US1DENC0035     22
GHCND:US1DENC0054     21
GHCND:US1DENC0038      9
Name: station, dtype: int64

In [8]:
df_daily_summaries.shape

(1169, 6)

In [29]:
temps_max = df[df_daily_summaries['datatype'] == 'TMAX']

In [31]:
temps_max['value']

35     -60
75     -38
117     -5
165    -21
205    -82
237    -88
273    -71
309      6
336     78
373     56
411    133
445    167
486    139
523    -32
565      0
608     56
654     22
693     22
731     83
768    139
808    117
839    156
872    172
908     72
944     28
981     39
17     150
46     133
88      78
124     39
163      6
Name: value, dtype: int64

In [35]:
temps_max['value'].describe()

count     31.000000
mean      48.193548
std       77.768640
min      -88.000000
25%       -2.500000
50%       39.000000
75%      125.000000
max      172.000000
Name: value, dtype: float64

In [36]:
temps_min = df[df_daily_summaries['datatype'] == 'TMIN']

In [38]:
temps_min['value']

36    -149
76    -116
118   -132
166    -93
206   -121
238   -138
274   -166
310   -105
337    -60
374    -49
412     33
446     83
487    -71
524   -105
566    -88
609    -16
655    -77
694    -99
732    -66
769    -38
809    -32
840     39
873     44
909      6
945    -38
982    -66
18     -49
47      72
89      33
125    -55
164    -93
Name: value, dtype: int64

In [39]:
temps_min['value'].describe()

count     31.000000
mean     -55.225806
std       65.749378
min     -166.000000
25%     -102.000000
50%      -66.000000
75%      -24.000000
max       83.000000
Name: value, dtype: float64

In [44]:
temps_min[temps_min['value'] == -149]

,date,datatype,station,attributes,value,source
36,2018-01-01T00:00:00,TMIN,GHCND:USW00013781,",,W,2400",-149,daily_summaries_FIPS10003_jan_2018_0.json