In [1]:
import pandas as pd
import os

In [2]:
file_path = os.path.join('./', 'data', 'locations_data_frame.pickle')
locations_df = pd.read_pickle(file_path)

In [4]:
locations_df

,mindate,maxdate,name,datacoverage,id,source
0,1955-11-01,2019-11-22,"Huntington, VT 05462",1.00,ZIP:05462,locations_10.json
1,1997-03-06,2019-11-22,"Isle la Motte, VT 05463",0.95,ZIP:05463,locations_10.json
2,1995-05-08,2019-11-22,"Jeffersonville, VT 05464",1.00,ZIP:05464,locations_10.json
3,1995-05-08,2019-11-22,"Jericho, VT 05465",1.00,ZIP:05465,locations_10.json
4,1997-03-06,2019-11-22,"Milton, VT 05468",0.95,ZIP:05468,locations_10.json
...,...,...,...,...,...,...
995,1894-01-01,2019-11-22,"Phoenixville, PA 19460",1.00,ZIP:19460,locations_13.json
996,1994-06-15,2019-11-22,"Plymouth Meeting, PA 19462",0.95,ZIP:19462,locations_13.json
997,1894-01-01,2019-11-22,"Pottstown, PA 19464",1.00,ZIP:19464,locations_13.json
998,1925-09-01,2019-11-22,"Pottstown, PA 19465",1.00,ZIP:19465,locations_13.json
999,1994-06-15,2019-11-22,"Royersford, PA 19468",1.00,ZIP:19468,locations_13.json